<!-- Menu for all other pages -->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">
        
        <li class="sidebar__item">
            <a href="/claimDevice" title="Claim Devices">
                <span class="icon-devices"></span>
                <span>Claim Devices</span>
            </a>
        </li>

        <li class="sidebar__item">
            <a href="/templateList" title="DNAC Templates Query">
                <span class="icon-document"></span>
                <span>Get Template List</span>
            </a>
        </li>

        <li class="sidebar__item">
            <a href="/imageList" title="IOS Image Query">
                <span class="icon-software-certified-md"></span>
                <span>IOS XE images</span>
            </a>
        </li>

    </ul>
</nav>

